:root {
  //COLORS
  --color-primary: #00FF83;
  --color-secondary: #62D4D5;
  --color-white: #ffffff;
  --color-green: #00FF83;
  --color-primary-contrast: #303337;
  
  //FONT
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  
  //BOOTSTRAP CUSTOM
  --bs-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

//BREAKPOINT-MAIN
$BREAKPOINT: 1199px;

//COLORS
$COLOR-PRIMARY: var(--color-primary);
$COLOR-SECONDARY: var(--color-secondary);
$COLOR-WHITE: var(--color-white);
$COLOR-PRIMARY-CONTRAST: var(--color-primary-contrast);
$COLOR-GREEN: var(--color-green);
$COLOR-GREEN--100: #62D4D5;
$COLOR-LINK: blue;


$COLORS: (
  "COLOR-PRIMARY": $COLOR-PRIMARY,
  "COLOR-SECONDARY": $COLOR-SECONDARY,
  "COLOR-WHITE": $COLOR-WHITE,
  "COLOR-PRIMARY-CONTRAST": $COLOR-PRIMARY-CONTRAST,
  "COLOR-GREEN":$COLOR-GREEN,
  "COLOR-GREEN--100": $COLOR-GREEN--100
);

@each $COLOR-NAME,
$COLOR-HEX in $COLORS {
  .bg-#{to-lower-case($COLOR-NAME)} {
    background-color: $COLOR-HEX !important;
  }

  .text-#{to-lower-case($COLOR-NAME)} {
    color: $COLOR-HEX !important;
  }
}