@import "core";
@import "components/hero";

.about {
    position: relative;
    pointer-events: none;
    user-select: none;
    &__bg {
        position: absolute;
        bottom: 50px;
        left: 50px;
    }
}

.solutions {
    position: relative;
    &__arrow {
        position: absolute;
        bottom: -50px;
        left: 50%;;
        z-index: 99;
    }
}

.products {
    position: relative;
    overflow: hidden;

    &__bg {
        position: absolute;
        bottom: -50px;
        left: -50px;
    }

    &__item {
        & p:not(.products__title), ul li {
            font-size: 14px;
            line-height: 1.4;
        }
    }

    &__title {
        font-size: 50px;
        font-weight: 600;
        line-height: 1.2;
    }

    & .slick-dots {
        margin-bottom: -50px;
    }

    
}

.talents {
    & .slick-dots {
        margin-bottom: -50px;
    }
}

.profile {

    flex: 0 1 33%;
    margin-bottom: 50px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        
    }
}

.contact {

    --bs-body-bg: #303338;
    --bs-body-color: white;
    --bs-body-color-rgb: white;

    input:not(input[type=checkbox]), textarea, select {
        border: none;
        border-bottom: solid 1px white;
        border-radius: 0;
        outline: none;
        box-shadow: none;
        padding: 30px 5px 10px !important;
        
        &:active, &:focus {
            box-shadow: none;
        }
    }

    .form-floating label {
        font-size: 15px;
        padding: 1rem 0;
    }

    label {
        & a {
            font-weight: bold;
            color: white;
        }
    }

    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
        background-repeat: no-repeat;
        background-position: 100% 70%;
    }

    option {
        background-color: #303338;
    }

    .form-floating>.form-control:focus~label {
        transform: scale(0.75) translateY(-0.2rem) translateX(0.45rem);
    }
}