@import "core";
@import "components/type";
@import "components/button";
@import "components/header";
@import "components/nav";
@import "components/box";
@import "components/carousel";
@import "components/profile";
@import "components/footer";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  color: white;
  font-size: 18px;
  height: 100%;
}

.textDetail {
  background-color: $COLOR-GREEN;
  height: 7px;
  width: 60px;
  display: inline-block;

    &--xs {
      height: 3px;
      width: 30px;
    }

}

.vorttex {
  //position: absolute;
  bottom: 0;
  padding: 20px 0;
  opacity: 1;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  background-color: white;

  & a {
    color: #145187;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    & span {
      font-size: 11px;
    }
  }

  & img {
    min-height: 10px;
  }
}


