@import "core";
@import "components/type";
@import "components/button";
@import "components/header";
@import "components/nav";
@import "components/box";
@import "components/carousel";
@import "components/profile";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  color: white;
  font-size: 18px;
  height: 100%;
}

.textDetail {
  background-color: $COLOR-GREEN;
  height: 7px;
  width: 60px;
  display: inline-block;

    &--xs {
      height: 3px;
      width: 30px;
    }

}

