.header {
    z-index: 99;
    position: absolute;
    display: flex;
    width: 100%;
    padding: 20px 0;

    & nav {
        display: flex;
        
        & ul {
            display: flex;
            justify-content: space-between;
            
            & li {
                position: relative;
                list-style: none;
                margin: 0 15px;
                color :white;
                    font-size: 14px;

                &:hover {
                    & ul {
                        display: flex;
                    }
                }
                
                & a {
                    color :white;
                    font-size: 14px;
                }
                & > ul {
                    display: none;
                    position: absolute;
                    & > li {
                        margin: 0 0 0 5px;
                        padding: 0;

                        & a {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    
    & .brand {
        & img {
            margin-right: 20px;
        }
    }
    
    & .cta {
       flex: 1;
        text-align: right;
    }
}